*.psess
*.vsp
*.log
*.err
*.wrn
*.suo
*.sdf
*.user
*.i
*.vspscc
*.opensdf
*.opendb
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.VC.db
.vs
Bin
/Src/Shaders/Compiled/XboxOne*.inc
/Src/Shaders/Compiled/XboxOne*.pdb
/ipch
/MakeSpriteFont/obj
/Tests
/wiki