*.psess
*.vsp
*.log
*.err
*.wrn
*.suo
*.sdf
*.user
*.i
*.vspscc
*.opensdf
*.opendb
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.VC.db
*.nupkg
.vs
.vscode
Bin
packages
/Src/Shaders/Compiled/*.inc
/Src/Shaders/Compiled/*.pdb
/ipch
/MakeSpriteFont/obj
/Tests
/Testing
/wiki
/out
/CMakeUserPresets.json
/build/vcpkg_installed
